<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Home</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="row mt-3">
			<div class="col-8">
				<h3>Product List</h3>
			</div>
			<div class="col">
				<a th:href="@{/product/add}" class="btn btn-primary">Add</a>
			</div>
			<div class="col" sec:authorize="isAuthenticated()">
				<form th:action="@{/logout}" method="POST">
					<button class="btn btn-danger">Logout</button>
				</form>
			</div>
		</div>
		<hr />
		<span sec:authorize="isAuthenticated()" sec:authentication="name"></span>
		<table class="table">
			<tr>
				<td>Id</td>
				<td>Name</td>
				<td>Price</td>
				<td sec:authorize="hasRole('admin')">Action</td>
			</tr>

			<th:block th:each="prod: ${productList}">
				<tr>
					<td th:text="${prod.id}"></td>
					<td th:text="${prod.name}"></td>
					<td th:text="${prod.price}"></td>
					<td sec:authorize="hasRole('admin')"><a
							th:href="@{'/product/edit/' + ${prod.id}}"
							class="btn btn-warning">Edit</a> <a
							th:href="@{'/product/delete/' + ${prod.id}}"
							class="btn btn-danger">Delete</a></td>
				</tr>
			</th:block>
		</table>
	</div>
</body>
</html>