<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin-template}">
<head>
<title>Order-Details</title>

<style>
tr.clickable-row td {
	cursor: pointer;
}

tr.clickable-row:hover {
	color: #82B1FF;
}
</style>
</head>

<body>
	<div class="container-fluid" layout:fragment="page-content">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">Order Details</h1>
		<p class="mb-4">
			DataTables is a third party plugin that is used to generate the demo
			table below. For more information about DataTables, please visit the
			<a target="_blank" href="https://datatables.net">official
				DataTables documentation</a>
			.
		</p>

		<div class="row saved-cart-info-content mb-5 p-2">
			<div class="col-xs-12 col-md-3">
				<div class="row">
					<div class="col-xs-6 col-md-12">
						<span class="text-uppercase font-weight-bold">Order Number</span>
					</div>
					<div class="col-xs-6 col-md-12">
						<span th:text="${order.id}"></span>
					</div>
				</div>
				<div class="row mt-md-3">
					<div class="col-xs-6 col-md-12">
						<span class="text-uppercase font-weight-bold">Date Placed</span>
					</div>
					<div class="col-xs-6 col-md-12">
						<span
							th:text="${#temporals.format(order.created_at, 'dd-MM-yyyy hh:mm a')}"></span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-3">
				<div class="row">
					<div class="col-xs-6 col-md-12">
						<span class="text-uppercase font-weight-bold">Shipping Name</span>
					</div>
					<div class="col-xs-6 col-md-12">
						<span th:text="${order.shippingName}"></span>
					</div>
				</div>
				<div class="row mt-md-3">
					<div class="col-xs-6 col-md-12">
						<span class="text-uppercase font-weight-bold">Shipping
							Email</span>
					</div>
					<div class="col-xs-6 col-md-12">
						<span th:text="${order.shippingEmail}"></span>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-3">
				<div class="row">
					<div class="col-xs-6 col-md-12">
						<span class="text-uppercase font-weight-bold">Shipping
							Phone</span>
					</div>
					<div class="col-xs-6 col-md-12">
						<span th:text="${order.shippingPhone}"></span>
					</div>
				</div>
				<div class="row mt-md-3">
					<div class="col-xs-6 col-md-12">
						<span class="text-uppercase font-weight-bold">Total</span>
					</div>
					<div class="col-xs-6 col-md-12">
						<span id="total"></span>
					</div>
				</div>
			</div>


			<div class="col-xs-12 col-md-3">
				<div class="row">
					<div class="col-xs-6 col-md-12">
						<span class="text-uppercase font-weight-bold">Shipping
							Address</span>
					</div>
					<div class="col-xs-6 col-md-12">
						<span th:text="${order.shippingAddress}"></span>
					</div>
				</div>
			</div>
		</div>

		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<div class="row">
					<div class="col-6">
						<h6 class="m-0 font-weight-bold text-dark">Order Information</h6>
					</div>

					<div class="col-6">
						<form th:action="@{/admin/order/save}" method="POST"
							th:object="${order}" class="float-right form-inline">
							<input type="hidden" th:field="*{id}" />
							<input type="hidden" th:field="*{shippingName}" />
							<input type="hidden" th:field="*{shippingEmail}" />
							<input type="hidden" th:field="*{shippingPhone}" />
							<input type="hidden" th:field="*{shippingAddress}" />
							<input type="hidden" th:field="*{customer}" />
							<input type="hidden" th:field="*{created_at}" />
							<label for="status" class="mr-2">Order Status</label> <select
								class="form-control mr-2" id="status" th:field="*{status}">
								<th:block th:each="status: ${statusList}">
									<option th:text="${status.name}" th:value="${status}"></option>
								</th:block>
							</select>

							<button class="btn btn-dark">Save</button>
						</form>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%"
						cellspacing="0">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th>Product Id</th>
								<th>Product</th>
								<th>Quantity</th>
								<th>Sub Total (MMK)</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="orderItem: ${order.items}">
								<tr class="clickable-row">
									<td class="text-center"><img class="img-fluid"
										th:src="@{${orderItem.product.photo== null} ? '/images/upload-photo.jpg' : ${orderItem.product.photoUrl}} "
										alt="Colorlib Template" width="70px" height="70px"></td>
									<td th:text="${orderItem.product.id}"></td>
									<td th:text="${orderItem.product.name}"></td>
									<td th:text="${orderItem.quantity}"></td>
									<td th:text="${orderItem.product.price * orderItem.quantity}"
										class="sub-total"></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<th:block layout:fragment="js">
		<script th:src="@{/app/js/searchTable.js}"></script>
		<script>
			$(document).ready(function() {
				var sum = 0;
				// iterate through each td based on class and add the values
				$("td.sub-total").each(function() {

					var value = $(this).text();
					// add only if the value is number
					if (!isNaN(value) && value.length != 0) {
						sum += parseFloat(value)
					}
				})
				$('span#total').text(sum + ' MMK')
			})
		</script>
	</th:block>
</body>
</html>