<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="store-front-template"
	th:with="title1='Checkout', title2='checkout'">
<head>
<title>checkout</title>
</head>
<body>
	<section class="ftco-section" layout:fragment="content-body">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-8 ftco-animate">
					<form action="#" class="billing-form">
						<h3 class="mb-4 billing-heading">Billing Details</h3>
						<div class="row align-items-end">
							<div class="col-md-6">
								<div class="form-group">
									<label for="name">Name</label>
									<input id="r-name" type="text" th:value="${name}"
										class="form-control" name="name" placeholder="Enter Name">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="email">Email</label>
									<input id="r-email" type="text" th:value="${email}"
										class="form-control" name="email"
										placeholder="example@gmail.com">
								</div>
							</div>
							<div class="w-100"></div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="phone">Phone</label>
									<input id="r-phone" type="text" th:value="${phone}"
										class="form-control" name="phone" placeholder="09xxxxxxxxx">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="address">Address</label>
									<input id="r-address" type="text" th:value="${address}"
										class="form-control" placeholder="Enter Full Address">
								</div>
							</div>
							<div class="w-100"></div>
						</div>
					</form>
					<!-- END -->
					<div class="row mt-5 pt-3 d-flex">
						<div class="col-md-12 d-flex">
							<div class="cart-detail cart-total bg-light p-3 p-md-4">
								<h3 class="billing-heading mb-4">Cart Total</h3>
								<p class="d-flex">
									<span>Subtotal</span> <span class="sub-total">$20.60</span>
								</p>
								<p class="d-flex">
									<span>Delivery</span> <span>$0.00</span>
								</p>
								<p class="d-flex">
									<span>Discount</span> <span>$3.00</span>
								</p>
								<hr>
								<p class="d-flex total-price">
									<span>Total</span> <span class="grand-total">$17.60</span>
								</p>
								<p class="mt-5">
									<a href="#" class="btn btn-primary py-3 px-4 btn-place-order">Place
										an order</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- .col-md-8 -->
			</div>
		</div>
	</section>

	<th:block layout:fragment="js">
		<script th:src="@{/app/js/cart.js}"></script>
		<script th:src="@{/app/js/checkout.js}"></script>
	</th:block>
</body>
</html>