<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin-template}">
<head>
<title>Orders</title>

<style>
tr.clickable-row td {
	cursor: pointer;
}

tr.clickable-row:hover {
	color: #82B1FF;
}
</style>
</head>

<body>
	<div class="container-fluid" layout:fragment="page-content">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">Orders</h1>
		<p class="mb-4">
			DataTables is a third party plugin that is used to generate the demo
			table below. For more information about DataTables, please visit the
			<a target="_blank" href="https://datatables.net">official
				DataTables documentation</a>
			.
		</p>

		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<div class="row">
					<div class="col-12">
						<h6 class="m-0 font-weight-bold text-dark">Order
							Information</h6>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%"
						cellspacing="0">
						<thead>
							<tr>
								<th>Id</th>
								<th>Customer</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Address</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="order: ${orders}">
								<tr class='clickable-row'
									th:onclick="'window.location.href=\'/admin/order/details/' + ${order.id} + '\''">
									<td th:text="${order.id!= null} ? ${order.id} : '-'"></td>
									<td
										th:text="${order.customer.name != null} ? ${order.customer.name} : '-'"></td>
									<td
										th:text="${order.customer.email != null} ? ${order.customer.email} : '-'"></td>
									<td
										th:text="${order.customer.phone != null} ? ${order.customer.phone} : '-'"></td>
									<td
										th:text="${order.customer.address!= null} ? ${order.customer.address} : '-'"></td>
									<td th:text="${order.status.name}"></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<th:block layout:fragment="js">
		<script th:src="@{/app/js/searchTable.js}"></script>
	</th:block>
</body>
</html>